# Xcode
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
## We recommend against adding the Pods directory to your .gitignore. However, you should judge for yourself, the pros and cons are mentioned at:
## https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
##
## Pods/
Pods/

# Carthage
##
## Add this line if you want to avoid checking in the Carthage directory
Carthage/

# fastlane
##
## It is recommended to store the screenshots in a different directory and not check them into source control.
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
##
## After new code injection tools there's a generated folder /iOSInjectionProject
iOSInjectionProject/

# Swift Package Manager
##
## Add this line if you want to avoid checking in the .swiftpm directory
.swiftpm/

# AppCode
.idea/

# Local development environment files
.env
.env.local

# macOS
.DS_Store

# Misc
*.log
*.swp
*.swo